<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>lookupServlet</servlet-name>
    <servlet-class>org.dbpedia.lookup.LookupServlet</servlet-class>
    <init-param>
      <param-name>property.configpath</param-name>
      <param-value>${property.configpath}</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>lookupServlet</servlet-name>
    <url-pattern>/api/search/*</url-pattern>
  </servlet-mapping>
</web-app>   